@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-weight: 600;
}

body {
  overflow-x: hidden;
}
.slider img {
  height: 450px;
  object-fit: cover;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-color: #8666b9;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  color: #8666b9;
  text-decoration: none;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu
  .ant-menu-item
  .anticon
  + span,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu
  .ant-menu-submenu-title
  .anticon
  + span {
  color: #ffffff;
  text-decoration: none;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu {
  text-decoration: none;
  color: #8666b9;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-badge {
  color: #ffffff;
  font-weight: 900;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  svg,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  svg {
  color: #8666b9;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-open::after {
  border-bottom-color: #e364e7;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light .ant-menu-item a,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light
  .ant-menu-item
  a:hover {
  text-decoration: none;
}
.btn {
  background-color: rgb(174, 65, 120);
  color: aliceblue;
  transition: all 0.6s ease;
}
.btn:hover {
  background-color: #c0aae4;
  color: aliceblue;
  scale: 1.1;
}
a {
  text-decoration: none;
  color: #ffff;
}
a:hover {
  text-decoration: none;
  color: rgb(63, 13, 78);
}
.text-center {
  color: rgb(255, 255, 255);
}
*,
*::before,
*::after {
  color: #8453d3;
}
.nav-link {
  color: rgb(174, 65, 120);
  transition: all 0.5s ease;
}
.nav-link:hover {
  color: #ae97d1;
}
.bg-info3 {
  background-color: aliceblue;
}
::-webkit-scrollbar {
  color: #ae97d1;
  background-color: #ae97d1;
  width: 13px;
}
::-webkit-scrollbar-thumb {
  color: #8b7f9e;
  background-color: #a3348b;
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  color: #8b7f9e;
  background-color: #711f5f;
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #aa6c96;
  width: 10px;
}
.btn-group-lg > .btn,
.btn-lg {
  border-radius: 3em;
  background-color: #252525;
}
a {
  color: #ffffff;
}
.p-1 {
  color: #a3348b;
  font-size: 0.9em;
}
.text-danger {
  color: #3e0933;
}

body {
  background-color: #131313;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-card .ant-card-actions {
  background-color: #1d1d1d;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-card
  .ant-card-actions
  > li
  > span
  a:not(.ant-card-btn),
:where(.css-dev-only-do-not-override-9ntgx0).ant-card
  .ant-card-actions
  > li
  > span
  > .anticon {
  color: #ffff;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-card-bordered {
  background-color: #303030;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-card .ant-card-meta-title {
  color: #ffff;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-card
  .ant-card-meta-description {
  color: rgba(255, 255, 255, 0.45);
}
.list-group-item {
  background-color: #303030;
  color: #ffff;
}
.bg-info3 {
  background-color: #1d1d1d;
  color: white;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-tabs .ant-tabs-tabpane {
  color: white;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-tabs .ant-tabs-tab-btn {
  color: white;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #131313;
}
.table {
  border-color: #13131300;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light {
  background-color: #1d1d1d;
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-badge .ant-badge-count {
  background-color: #353535;
}
.bg-light {
  background-color: #131313;
}
:where(.css-9ntgx0).ant-card .ant-card-body {
  background-color: #303030;
}
:where(.css-9ntgx0).ant-card .ant-card-actions {
  border: 0px;
  background-color: #1d1d1d;
}
:where(.css-9ntgx0).ant-card-bordered .ant-card-cover {
  background-color: #303030;
}
:where(.css-9ntgx0).ant-card-bordered {
  border: 0px;
}
:where(.css-9ntgx0).ant-card-bordered {
  background-color: #303030;
}
:where(.css-9ntgx0).ant-card .ant-card-meta-title {
  color: #ffff;
}
:where(.css-9ntgx0).ant-card .ant-card-meta-description {
  color: rgba(255, 255, 255, 0.45);
}
:where(.css-9ntgx0).ant-card .ant-card-actions > li > span a:not(.ant-card-btn),
:where(.css-9ntgx0).ant-card .ant-card-actions > li > span > .anticon {
  color: #ffff;
}
:where(.css-9ntgx0).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #131313;
}
:where(.css-9ntgx0).ant-tabs .ant-tabs-tabpane {
  color: white;
}
:where(.css-9ntgx0).ant-tabs .ant-tabs-tab-btn {
  color: white;
}
:where(.css-9ntgx0).ant-menu-light {
  background-color: #1d1d1d;
}
:where(.css-9ntgx0).ant-badge {
  color: #8453d3;
}
.h4 {
  position: relative;
  color: #252525;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(222, 157, 220, 0.267));
  line-height: 0.7em;
  outline: none;
  animation: animate1 5s linear infinite;
}
@keyframes animate1 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #929292;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: rgb(255, 233, 249);
    text-shadow: 0 0 10px #e26ec9, 0 0 15px #e26ec9, 0 0 30px #e26ec9,
      0 0 80px #e26ec9, 0 0 160px #e26ec9;
  }
}
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-submenu
  > .ant-menu
  .ant-menu-item
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-submenu
  > .ant-menu
  .ant-menu-submenu-title
  .ant-menu-item-icon
  + span,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-submenu
  > .ant-menu
  .ant-menu-item
  .anticon
  + span,
:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-submenu
  > .ant-menu
  .ant-menu-submenu-title
  .anticon
  + span {
  color: #8453d3;
}
